<h1>Task Pending! </h1>
<%= @user.email %> has a pending task: <%= @task.name %>

<p>
  <%= @greeting %>
    <br> <b> Task Name: </b> <%= @task.name %>
    <br> <b> Task Due Date: </b> <%= @task.due_date %>
    
</p>