<h1>Task#Task_created</h1>
<%= @user.email %> created a task <%= @task.name %>

<p>
  <%= @greeting %>
    <br> <b> Task Name: </b> <%= @task.name %>
    <br> <b> Task Due Date: </b> <%= @task.due_date %>
    
</p>
