<p style="color: green"><%= notice %></p>



<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to t('show_task'), task %>
      
    </p>
  <% end %>
</div>

<%= link_to t('new_task'), new_task_path %>
<%= link_to t('pdf'), tasks_path(format: :pdf) %>
<%= link_to t('csv'), tasks_path(format: :csv) %>
<%= yield %>
