<%begin%>
<%if notice>0 %>

<p style="color: green"><%= notice= "Task is updated/Assigned" %></p>
<% else %>
<p style="color: green"><%= notice= "Task is Failed" %></p>
<% end %>
<%rescue%>
<% end %>

<%= render "tasks/task", :task=>@task %>


<div>
  <%= link_to t('edit_task'), edit_task_path(@task) %> |
  <%= link_to t('back_task'), tasks_path %>

  <%= button_to t('des_task'), @task, method: :delete %>
</div>
